<section class="py-5 text-center container-fluid bg-light">
  <div class="row py-lg-2">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to your JoinMe Event Page</h1>
      <h3>Your are logged in as: {{username}}</h3>
      <p class="lead text-muted">
        Here you can see the EVENTS you have created, make any necessary changes and create new events.
      </p>
      <p>
        <a href="/event/new-event" class="btn btn-success my-2">Create a New Event</a>
      </p>
    </div>
  </div>
</section>

<main>
  <div class="container d-flex justify-content-center" id="event-list">
    <div class="col-md-6 my-3">
      {{#if events.length}}
      <h3>Manage your events:</h3>

      {{#each events as |event|}}
      <div class="callout callout">
        <div class="d-grid gap-2 d-md-flex justify-content-between">

          <h4><a href="/event/{{event.id}}">{{event.name}}</a></h4>
          <small class="text-muted">Category: {{event.category}}</small>
        </div>
        <div class="col-7 d-flex justify-content-start pb-2"> {{format_date event.event_date}} | {{ event.event_time}}
        </div>
        <div class="row">
          <p> {{event.description}}</p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-between align-items-end">
          <small class="text-muted"> Covid Protocols: {{event.covid_items}}</small>
          <a href="/event/{{event.id}}/edit-event" class="btn btn-warning me-md-2">Edit Event</a>
        </div>

      </div>
      {{/each}}
    </div>
    {{/if}}
</div>
</main>