  <div class="container d-flex justify-content-center py-5">

    <div class="col-md-6">
           <a type="button" href="/dashboard" class="btn btn-warning mb-2"><i class="fas fa-arrow-left"></i> back</a>
    <div class="card my-8">

    <div class="card my-8">

  <div class="card-body">
    <h2 class="card-title">Edit Event</h2>
 <form id="edit-event-form" class="card-body row g-3">
  <div class="col-md-6">
      <input type="hidden" name="id" id="id" value="{{event.id}}" />

    <label for="name" class="form-label">Event Name</label>
    <input type="text" class="form-control" name="name" id="name" value="{{event.name}}">
  </div>
  <div class="col-md-6">
    <label for="category" class="form-label">category</label>
    <select name="category" id="category" class="form-select" value="{{event.category}}">
      <option selected>Choose...</option>
      <option>Arts / Crafts</option>
      <option>Charity</option>
      <option>Family Fun</option>
      <option>Fashion</option>
      <option>Festivals</option>
      <option>Food</option>
      <option>Home Life</option>
      <option>Pets / Animals</option>
      <option>Sports</option>
      <option>Tech / Science</option>
      <option>Other / Misc</option>
    </select>
  </div>
  <div class="col-12">
    <div class="mb-3">
  <label for="description" class="form-label">Event Description</label>
  <input class="text-area form-control" name="description" id="description" value="{{event.description}}"></input>
</div>
  </div>
  
  <div class="col-md-4">
    <label for="event_date" class="form-label">Event Date</label>
    <input type="date" class="form-control" name="event_date" id="event_date" value="{{format_date {event.event_date}}">  </div>
  
  <div class="col-md-4">
      <label for="event_time">Event time</label>
      <input type="time" name="event_time" id="event_time" class="form-control" value="{{event.event_time}}">
  </div>
  <div class="col-md-4">
        <label for="covid_items" class="form-label">Covid Protocols</label>
    <select id="covid_items" name="covid_items" class="form-control form-select" value="{{event.covid_items}}">
      <option selected>  </option>
      <option>Proof of Vaccine</option>
      <option>Mask Required</option>
      <option>Mask Optional</option>
      <option>None Specified</option>
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update Event</button>
    <button type="button" id="delete-btn" class="btn btn-danger">Delete</button>

  </div>
</form>
   
  </div>
</div>  </div>
</div>


<script src="/js/edit.js"></script>

